footer a{
  text-decoration: none;
}
.card img {
    height: 10em;
    object-fit: contain;
  }
  
  .card{
    height: 100%!important;
  }

.vitamin-btn{
  height: 8rem;
  border: none;
  border-radius: 1rem;
}

.sec{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  align-items: center;
  justify-content: center;
  padding: 6rem 6rem 0;
}

@media (min-width: 875px) {
  .sec{
    grid-template-columns: repeat(4, minmax(7rem, 1fr));
  }
}
