.card img {
  height: 10em;
  object-fit: contain;
}

.card {
  height: 100% !important;
  position: relative;
}

.vitamin-btn {
  height: 5rem;
  width: 8em;
  border: none;
  border-radius: 1rem;
}
.btn-checked {
  background-color: royalblue;
}

.sec {
  display: grid;
  gap: 1em;
  grid-template-columns: 2em 2em 2em;
  grid-column-gap: 1em;
  padding: 3em 3em 0;
}

.sec > div {
  display: flex;
  justify-content: center;
}

@media (min-width: 875px) {
  .sec {
    grid-template-columns: repeat(3, minmax(1em, 1fr));
  }
}

.fa-heart {
  position: absolute;
  right: 0;
  padding: 1rem;
  font-size: 22px;
  background-color: #d2d2d2bf;
  color: #000000bf;
  border-radius: 0 0.315rem;
  cursor: pointer;
}

.crimson {
  color: crimson;
}

.header {
  margin: 7% 7% 0 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.header h1 {
  font-size: 7rem;
}

.header p {
  font-size: 2rem;
}

.banana h1 {
  font-size: 3rem;
}

.banana p {
  font-size: 1.5rem;
}

.header img {
  width: 30%;
  height: 30%;
}
